[flake8]
max-line-length = 120
max-complexity = 10
exclude =
    .git,
    __pycache__,
    build,
    dist,
    *.egg-info,
    .venv,
    venv,
    frontend-dashboard,
    node_modules,
    automation-showcase

ignore =
    E203,
    E501,
    W503,
    W504

select = E,W,F,C

per-file-ignores =
    __init__.py:F401